.about-area {
    @include section;

    .about-first-box {
        display: flex;
        justify-self: flex-end;
        align-items: center;

        @include respond-below(sm) {
            justify-self: center !important;

        }

        img {
            width: 80%;

            @include respond-below(sm) {
                width: 100% !important;
            }
        }
    }

    .about-secont-box {
        @include respond-below(sm) {
            padding: 20px 0 0 0 !important;
        }

        h4 {
            font-family: montserrat !important;
            letter-spacing: -1px;
            @include h4;
        }

        a {
            text-decoration: none;
        }
    }

    .shape {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;

        img {
            width: 100%;
            height: auto;
            opacity: 0.7;
        }
    }
}


// ====================================== ABOUT PAGE START =======================================
.about-main-section {
    @include section;

    .about-sect {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .abt-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;

            @include respond-below(md) {
                width: 70% !important;
            }

            @include respond-below(sm) {
                width: 90% !important;
            }

        }
    }


    .abt-cnt {
        h4 {
            @include h4;
            line-height: 50px;

            @include respond-below(lg) {
                line-height: 50px;
            }

            @include respond-below(md) {
                line-height: 50px;
            }

            @include respond-below(sm) {
                line-height: 40px;
            }
        }

        p {
            color: #dedede;

            @include respond-below(xl) {
                text-align: justify !important;
            }

            @include respond-below(sm) {
                text-align: left !important;
            }

        }
    }


}

// ====================================== ABOUT PAGE END =========================================