.enquiry-area {
    .enquire-bg {
        position: relative;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;

            @include respond-below(lg) {
                height: auto;
            }

            @include respond-below(md) {
                height: auto;
            }

            @include respond-below(sm) {
                height: auto;
            }
        }

        .btn {
            position: absolute;
            bottom: 0;
            left: 600px;
            top: 40%;
            padding: 2em;
            height: 50%;

            // @include respond-below(xl) {
            //     left: 580px;
            // }

            @include respond-below(lg) {
                left: 400px;
            }

            @include respond-below(md) {
                left: 250px;
                top: 35%;
            }

            @include respond-below(sm) {
                top: 50px;
                left: 80px;
            }
        }
    }

    .fade {
        .modal-dialog {
            width: 60%;
            margin: auto;

            @include respond-below(xl) {
                width: 80%;
            }

            @include respond-below(lg) {
                width: 80%;
            }

            @include respond-below(md) {
                width: 90%;
            }

            @include respond-below(sm) {
                width: 90%;
            }

            .modal-content {
                .modal-header {
                    .modal-title {}
                }

                .modal-body {
                    .inputt {
                        padding: 40px 20px;

                        @include respond-below(sm) {
                            padding: 20px 20px;
                        }

                        form {
                            input {
                                width: 100%;
                                border-top: none;
                                border-left: none;
                                border-right: none;
                                border-bottom: 1px solid black;
                                outline: none;
                            }
                        }
                    }
                }

                .foot {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }


}