.paragraph-area {
    padding: 120px 0;
    .paragraph {

        padding: 0 60px;

        // @include respond-below(xl) {
        //     padding: 0 0;
        // }

        @include respond-below(lg) {
            padding: 0 0;
        }

        @include respond-below(md) {
            padding: 0 0;
        }

        @include respond-below(sm) {
            padding: 0 0;

        }


        .para-head {
            h2 {
                @include h2;
                line-height: 70px;
                text-align: center;

                @include respond-below(md) {
                    text-align: center;
                }

                @include respond-below(sm) {
                    line-height: 50px;
                    text-align: left;
                }
            }
        }

        .para-content {
            padding: 20px 0;

            p {
                @include p;
                text-align: center;

                @include respond-below(lg) {
                    padding-top: 10px;
                }

                @include respond-below(md) {
                    text-align: left;
                }

                @include respond-below(sm) {
                    text-align: left;
                }

            }
        }
    }
}