.service-main-area {
    @include section;

    .service-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
            img {
                width: 80%;

                @include respond-below(lg) {
                    width: 100%;

                }

                @include respond-below(md) {
                    width: 60%;

                }

                @include respond-below(sm) {
                    width: 100%;

                }
            }
        }

        .content {
            h4 {
                @include h4;
                line-height: 50px;

            }

            p {
                color: #b1b1b1;
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}

// ========================  ========================== Start
.service-provide-area {
    @include section;

    h2 {
        @include h2;
        text-align: center;
    }

    .services-items {
        padding: 40px 60px;

        @include respond-below(sm) {
            padding: 0 !important;
        }

        .image {
            padding-top: 30px;

            img {
                width: 100%;
            }

            h6 {
                @include h6;
                padding-top: 20px;
                font-family: montserrat !important;
            }

            a {
                text-decoration: none;
                color: #d20c0c;
            }
        }
    }
}

// ========================  ========================== End