/* ======================== variables ============================ */
$brand-color : #ed2124;
$primary-color : #fff;
$gray : #424242;
$black : #000;
/* ======================== variables ============================ */